<form class="m-2" action="/admin/login" method="POST">

<div class="m-2">
  <h1>Admin Login</h1>
  <br>
    <input type="email" name="gmail">
  <br>
  <input type="password" name="password">
  <br>
  <button class="m-2" type="admin">Submit</button>
</div>
</form>

<style>
  div{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
</style>
