<div class="m-3">
        <br>
        <h1>Cart Page</h1>
        <br>

        {{#each cartitems}}

        <h4>{{this.item.name}}</h4>

        {{/each}}
</div>



{{!-- 
    <div class='w-full max-w-lg mx-auto bg-white rounded-xl flex flex-col pb-12'>

            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>
            <div class="flex w-full h-16 mx-2 my-2 text-center flex items-center">
                    <img class="w-16 h-16 rounded object-center" src="https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80"/>
                    <h6 class="text-base font-bold ml-3">Tomato</h6>
            </div>

        <a class="block w-screen py-2.5 px-4 text-center focus:bg-yellow-500 hover:text-black font-bold text-lg bg-yellow-400 fixed bottom-0 left-0" href="#/">Order Now</a>

    </div> --}}