<div class="m-3">
    <h1>Catagory Products</h1>
<br>
        {{#each products}}

        <h6>
        <a href="view-product/{{this._id}}">{{this.name}}</a>
        </h6>
        
        {{/each}}

</div>