<form action="/admin/add-product" method="post">

    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
    <label for="exampleInputEmail1">Description </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="des">
    <label for="exampleInputEmail1">Price</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price">
    <label for="exampleInputEmail1">Image Link</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="img">
    <label for="">Catagory</label>
    <input type="text" name="catagory">
    <br>
    <input type="submit" class="form-control" id="exampleInputEmail1">
</form>


<style>
  form{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
</style>