<h1> Hii I am your Products Manager </h1>
<p>What can I do for you sIR ?</p>

<div class="row m-3 ">

<a href="/products/new">Create new Purchase ? </a>
<a href="/products/recent"> View recent Purchases </a>
<a href="/products/dashboard">Statistics Dashboard</a>



<a href="/products/new-shop">New Shop +</a>
<a href="/products/new-products">Add New Products + </a>
</div>