<div class="m-3">
    <h1>Profile</h1>
<br>
<a class="btn btn-danger" href="/logout/">Logout</a>
<br>
    <h4>Name:- {{user.name}}</h4>
    <h4>ID:- {{user.userid}}</h4>
    <h4>Gmail:- {{user.gmail}}</h4>    
</div>

<style>
  div{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
</style>